.main{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.title{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 80px;
    left: calc(50% - 600px);
}

.titleName{
    font-family: Julius Sans One, Noto Sans KR, sans-serif;
    font-size: 96px;
    font-weight: 400;
    color: #352A3A;
    margin-bottom: 1rem;
}

@media (max-width: 1200px){
    .title{
        left: 20px;
    }
}