.header{
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color: #fff;
}

.header *{
    color: #fff;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    float:left;
    text-decoration: none;
}

.menu{
    margin-left:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.menu>*{
    width:80px;
}

.menu_list>ul{
    display:none;
    position: absolute;
    list-style: none;
    background-color: #007bff;
    width:80px;
    margin: 0;
    padding: 0;
}

.menu_list:hover>ul{
    display: block;
}

.menu a{
    color: #fff;
    text-decoration: none;
}

.menu a:hover{
    color: #fff;
    text-decoration: underline;
}