.header {
    position: fixed;
    background: rgba(246, 234, 255, 0.5);
    padding: 0 10px;
    text-align: center;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    color: #352A3A;
    width: 1200px;
    padding: 0px calc(50% - 600px);
}

.header * {
    color: #352A3A;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    font-size: 1.5rem;
    font-weight: bold;
    float: left;
    text-decoration: none;
    word-break: keep-all;
}

.logo>img{
    width: 32px;
    height: 32px;
}

.menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 90px;
    height: 70px;
}

.menu>* {
    width: 120px;
    line-height: 70px;
    text-align: center;
}

.menu_list>ul {
    display: none;
    position: absolute;
    list-style: none;
    background: rgba(246, 234, 255, 0.5);
    width: 120px;
    margin: 0;
    padding: 0;
}

.menu_list>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu_list:hover>ul {
    display: block;
}

.menu_list>ul>*{
    display: block;
    line-height: 50px;
}

.menu_list>ul>*~*{
    border-top: 1px solid #ccc;
}

.menu a {
    display: block;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .header{
        width: 100%;
    }
}