html{
  transition: all 0.2s ease;
}

article{
  width: 100%;
  word-break: keep-all;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Noto Sans KR,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*페이지가 800px 이하일때*/
@media screen and (max-width: 800px) {
}