html{
  transition: all 0.2s ease;
  font-size:16px;
}

article{
  width: 100%;
  word-break: keep-all;
}

#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Noto Sans KR,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scrollbar-width:none;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media (max-width: 1200px) {
  html{
    font-size:14px;
  }
}

@media (max-width: 820px) {
  html{
    font-size:12px;
  }
}
